In [14]:
import numpy as np
import pandas as pd
import random

# Set parameters for large dataset
num_samples = 100  # Number of dataset instances
num_fire_zones = 50  # Number of wildfire zones
num_resources = 20  # Number of firefighting resources
num_time_steps = 20  # Time horizon for simulation
num_wind_scenarios = 10  # Number of wind conditions

# --- 1. Generate Fire Zones Data ---
fire_zones_list = []
for sample_id in range(num_samples):
    for j in range(1, num_fire_zones + 1):
        fire_zones_list.append({
            "Sample_ID": sample_id,
            "Fire Zone": j,
            "Severity": random.randint(1, 10),
            "Spread Rate": round(random.uniform(1.0, 5.0), 2),
            "Risk Factor": random.randint(500, 5000),
            "Neighbors": random.sample(range(1, num_fire_zones + 1), k=min(5, num_fire_zones - 1)),
        })
fire_zones_df = pd.DataFrame(fire_zones_list)

# --- 2. Generate Firefighting Resources Data ---
resources_list = []
for sample_id in range(num_samples):
    for i in range(1, num_resources + 1):
        resources_list.append({
            "Sample_ID": sample_id,
            "Resource": i,
            "Type": random.choice(['Fire Engine', 'Hand Crew', 'Aircraft', 'Bulldozer', 'Helicopter']),
            "Suppression Power": random.randint(3, 12),
            "Speed (mph)": random.randint(10, 150),
            "Max Capacity": random.randint(1, 5),
            "Cost per Hour": random.randint(500, 7000),
        })
resources_df = pd.DataFrame(resources_list)

# --- 3. Generate Travel Times Data ---
travel_times_list = []
for sample_id in range(num_samples):
    for i in range(1, num_resources + 1):
        for j in range(1, num_fire_zones + 1):
            travel_times_list.append({
                "Sample_ID": sample_id,
                "Resource": i,
                "Fire Zone": j,
                "Travel Time (hrs)": round(random.uniform(0.5, 10.0), 2),
            })
travel_times_df = pd.DataFrame(travel_times_list)

# --- 4. Generate Wind Conditions Data ---
wind_conditions_list = []
for sample_id in range(num_samples):
    for _ in range(num_wind_scenarios):
        wind_conditions_list.append({
            "Sample_ID": sample_id,
            "Wind Speed (mph)": random.randint(5, 50),
            "Wind Direction": random.choice(['North', 'South', 'East', 'West', 'None']),
            "Spread Multiplier": round(random.uniform(1.0, 2.5), 2),
        })
wind_conditions_df = pd.DataFrame(wind_conditions_list)

# --- 5. Generate QUBO Variables Data ---
qubo_list = []
for sample_id in range(num_samples):
    for i in range(1, num_resources + 1):
        for j in range(1, num_fire_zones + 1):
            for t in range(num_time_steps):
                qubo_list.append({
                    "Sample_ID": sample_id,
                    "Resource": i,
                    "Fire Zone": j,
                    "Time Step": t,
                    "Assignment": random.randint(0, 1),
                    "Fire Suppression": random.randint(0, 1),
                    "Fire Spread": random.randint(0, 1),
                })
qubo_df = pd.DataFrame(qubo_list)

# Save each DataFrame separately to CSV files
fire_zones_df.to_csv("fire_zones_data.csv", index=False)
resources_df.to_csv("resources_data.csv", index=False)
travel_times_df.to_csv("travel_times_data.csv", index=False)
wind_conditions_df.to_csv("wind_conditions_data.csv", index=False)
qubo_df.to_csv("qubo_variables_data.csv", index=False)

# Print confirmation
print("All datasets generated and saved separately as CSV files.")

All datasets generated and saved separately as CSV files.

In [15]:
fire_zones_df

,Sample_ID,Fire Zone,Severity,Spread Rate,Risk Factor,Neighbors
0,0,1,6,3.10,4033,"[29, 7, 26, 13, 21]"
1,0,2,5,2.80,1237,"[12, 37, 29, 4, 17]"
2,0,3,2,3.02,3197,"[29, 11, 16, 42, 32]"
3,0,4,9,3.87,2252,"[22, 14, 28, 18, 27]"
4,0,5,1,4.52,3003,"[22, 41, 23, 7, 31]"
...,...,...,...,...,...,...
4995,99,46,7,3.17,4692,"[1, 35, 21, 22, 16]"
4996,99,47,1,3.02,3703,"[25, 7, 2, 31, 23]"
4997,99,48,3,3.37,2617,"[35, 21, 24, 36, 8]"
4998,99,49,4,4.97,3603,"[22, 42, 30, 43, 23]"
4999,99,50,8,4.71,4552,"[31, 48, 29, 40, 4]"